export http_proxy={{ my_proxy }}:{{ my_port }}
export https_proxy={{ my_proxy }}:{{ my_port }}
export no_proxy={{ no_proxy_list }}
export HTTP_PROXY={{ my_proxy }}:{{ my_port }}
export HTTPS_PROXY={{ my_proxy }}:{{ my_port }}
export NO_PROXY={{ no_proxy_list }}

