<pre class="cow">
  _________________
&lt; {{ my_message }} &gt;
  -----------------
         \   ^__^ 
          \  (oo)\_______
             (__)\       )\/\
                 ||----w |
                 ||     ||
    
</pre>


