$ORIGIN myapps.example.com
$TTL 86400
@     IN     SOA    vrutil1.myapps.example.com.     hostmaster.myapps.example.com. (
                    2017071401 ; serial
                    21600      ; refresh after 6 hours
                    3600       ; retry after 1 hour
                    604800     ; expire after 1 week
                    86400 )    ; minimum TTL of 1 day

      IN     NS     dns1.example.com.

	     IN	    A       10.0.6.61

vrutil1      IN     A       10.0.6.61
vrutil2      IN     A       10.0.6.62
ocpmaster    IN     A       10.0.6.63
ocpnode01    IN     A       10.0.6.64
ocpnode02    IN     A       10.0.6.65
ocpnode03    IN     A       10.0.6.66

dns          IN     CNAME   vrutil1
test         IN     CNAME   vrutil2
