[rhel-7-local]
name=RHEL 7 local
baseurl=http://repos.antler.rhtxus.com/rhel-7-server-rpms
enabled=1
gpgcheck=1

[rhel-7-extras-local]
name=RHEL 7 Extras on local
baseurl=http://repos.antler.rhtxus.com/rhel-7-server-extras-rpms
enabled=1
gpgcheck=1

[rhel-7-supplementary-local]
name=RHEL 7 Supplementary on local
baseurl=http://repos.antler.rhtxus.com/rhel-7-server-supplementary-rpms
enabled=1
gpgcheck=1

[rhel-7-optional-local]
name=RHEL 7 Optional on local
baseurl=http://repos.antler.rhtxus.com/rhel-7-server-optional-rpms
enabled=1
gpgcheck=1

[rhel-7-rh-common-local]
name=RHEL 7 Common on local
baseurl=http://repos.antler.rhtxus.com/rhel-7-server-rh-common-rpms
enabled=1
gpgcheck=1

